<div
  class="container"
  style="
    background: url(https://images.hdqwalls.com/download/pattern-texture-4k-5k-fa-1920x1080.jpg);
    background-size: cover;
  "
>
  <app-new-todo (enteredTodo)="onEnteredTodo($event)"></app-new-todo>
  <div *ngFor="let todo of todos">
    <app-todo-output
      *ngIf="todos.length >= 1"
      [todo]="todo.todo"
      [id]="todo.id"
      (taskId)="onDeleteTodo($event)"
    ></app-todo-output>
  </div>
  <div class="tasks badge m-4" *ngIf="!todos.length">You have no tasks</div>
  <div class="tasks m-4 badge" *ngIf="todos.length === 1">You have 1 task</div>
  <div [innerText]="tasks" class="tasks badge" *ngIf="todos.length > 1"></div>
  <div *ngIf="todos.length >= 1">
    <button class="btn btn-warning  m-4 mb-4" (click)="onClearTodos()">Clear All Tasks</button>
  </div>
</div>
